// Adds Material Design-like card styling
// by applying shadow and border-radius.
// It also adds some padding (vertical rhythm!)
// to create some space.
//
// See also: http://materializecss.com/cards.html
@mixin card() {
  box-shadow: 0 2px 5px 0 rgba(black, 0.16),
              0 2px 10px 0 rgba(black, 0.12);
  border-radius: 2px;
  padding: rhythm() 1em;
}
