// CSS only approach to mimic the Material Design
// ripple effect that is shown when an item
// is clicked.
//
// @example
// li {
//   a {
//     ...
//     @include ripple;
//   }
// }
@mixin ripple($type: light) {
  $color    : if($type == light, white, black);
  $dotsize  : 2px;
  $center-x : 50%;
  $center-y : 50%;

  position: relative;
  overflow: hidden;
  &:after {
    content: '';
    position: absolute;
    border-radius: 50%;
    top: $center-y;
    left: $center-x;
    top: calc($center-y - $dotsize/2);
    left: calc($center-x - $dotsize/2);
    pointer-events: none;
    width: $dotsize;
    height: $dotsize;
    background: rgba($color, .3);
    opacity: 0;
  }
  &:active::after, &:focus::after {
    animation: {
      name: ripple;
      duration: 4s;
      timing-function: ease;
      fill-mode: none;
    }
  }
}

@keyframes ripple {
  0% { transform: scale(1); opacity: 1; }
  25% { transform: scale(100); opacity: 0; }
  100% { transform: scale(100); opacity: 0; }
}
