#{$all-buttons} {
  @include adjust-font-size-to($button-font-size);
  color: #fff;
  font-family: $button-font-family;
  background-color: $action-color;
  @include rhythm-margins(.25, .25);
  padding: {
    right: $button-horizontal-padding;
    left: $button-horizontal-padding;
  }
  min-width: 6em;
  display: inline-block;
  border: $button-border-width solid;
  @include horizontal-borders($button-border-width, .25, $button-font-size);
  border-radius: $button-border-radius;
  cursor: pointer;
  user-select: none;
  outline: 0;
  appearance: none;
  transition: background-color $base-duration $base-timing;

  &:hover,
  &:focus {
    background-color: shade($action-color, 20%);
    color: #fff;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: $action-color;
    }
  }
}
