form {
  p {
    text-indent: initial;
    margin-top: 0;
  }
}

fieldset {
  background-color: $secondary-background-color;
  border: $base-border;
  @include horizontal-borders;
  padding: {
    left: rhythm();
    right: rhythm()
  }
  @include margin-trailer;
}

input,
label,
select {
  display: block;
  font-family: $base-font-family;
  font-size: $base-font-size;
}

label {
  font-weight: 600;

  &.required::after {
    content: "*";
  }

  abbr {
    display: none;
  }
}

#{$all-text-inputs},
select[multiple=multiple] {
  line-height: rhythm($offset: 2);
  background-color: $base-background-color;
  border: $base-border;
  @include margin-trailer;
  padding: {
    left: .5em;
    right: .5em;
  }
  border-radius: $base-border-radius;
  box-shadow: $form-box-shadow;
  box-sizing: border-box;
  font-family: $base-font-family;
  font-size: $base-font-size;
  transition: border-color $base-duration $base-timing;
  width: 100%;

  &:hover {
    border-color: shade($base-border-color, 20%);
  }

  &:focus {
    border-color: $action-color;
    box-shadow: $form-box-shadow-focus;
    outline: none;
  }

  &:disabled {
    background-color: shade($base-background-color, 5%);
    cursor: not-allowed;

    &:hover {
      border: $base-border;
    }
  }
}

textarea {
  resize: vertical;
  height: rhythm(4);
  display: block; // To remove bottom margin.
}

input[type="search"] {
  appearance: none;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: .5em;

  + label {
    display: inline-block;
  }
}

input[type="file"] {
  @include margin-trailer;
  width: 100%;
}

select {
  height: rhythm();
  @include margin-trailer;
  @include adjust-leading-to(1);
  max-width: 100%;
  width: auto;
  background: white;
}
