ul,
ol {
  @include margin-trailer;
}

ul {
  padding-left: $base-font-size;
}

ol {
  padding-left: rhythm();
}

dl {
  @include margin-trailer;

  dt {
    font-weight: bold;
    @include margin-leader;
  }
}
