table {
  border-collapse: collapse;
  clear: both;
  width: 100%;
  @include rhythm(1,0,0,1);
  caption, th, td {
    vertical-align: top;
    padding: rhythm(.5);
    &.right {
      text-align: right;
    }
  }
  th {
    font-weight: bold;
  }

  // Borders
  th {
    border-bottom: 1px solid shade($base-border-color, 25%);
  }
  td {
    border-bottom-color: $base-border-color;
    @include trailing-border($lines: .5);
  }

  tr:last-child {
    td {
      border-bottom: none;
    }
  }
}
