@include establish-baseline;

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
}

body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-kerning: normal;
}

body,
input,
button  {
  -webkit-font-smoothing: antialiased;
}

#{headings()} {
  font-family: $heading-font-family;
  font-weight: normal;
}

h1 {
  @include adjust-font-size-to($h1-font-size);
  @include rhythm($header-margin-top, 0, 0, 0, $h1-font-size);
}
h2 {
  @include adjust-font-size-to($h2-font-size);
  @include rhythm($header-margin-top, 0, 0, 0, $h2-font-size);
}
h3 {
  @include adjust-font-size-to($h3-font-size, 1);
  @include rhythm($header-margin-top, 0, 0, 0, $h3-font-size);
}
h4 {
  @include adjust-font-size-to($h4-font-size);
  @include rhythm($header-margin-top, 0, 0, 0, $h4-font-size);
}
h5 {
  @include adjust-font-size-to($h5-font-size);
  @include rhythm($header-margin-top, 0, 0, 0, $h5-font-size);
}
h6 {
  @include adjust-font-size-to($h6-font-size);
  @include rhythm($header-margin-top, 0, 0, 0, $h6-font-size);
}

p {
  @include margin-trailer($paragraph-margin-bottom);
  & + p {
    text-indent: $paragraph-text-indent;
    @include margin-leader(-1 * $paragraph-margin-bottom);
  }
}

a {
  color: $action-color;

  &:active,
  &:focus,
  &:hover {
    color: white;
    background-color: $action-color;
    text-decoration: none;
  }
}

hr {
  // Do not break vertical rhythm
  border: {
    top: 0;
    right: 0;
    bottom: $base-border;
    left: 0;
  }
  margin: {
    top: rhythm();
    bottom: rhythm($offset: 1);
  }
}

img, picture,
object {
  // http://stackoverflow.com/questions/10844205/html-5-strange-img-always-adds-3px-margin-at-bottom
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

code, pre {
  font-family: $monospace-font-family;
}
