.content-box {
  @include card;
  padding: rhythm() 1em;

  background: $content-box-bg-color;

  h1 {
    text-align: center;

    @include susy-breakpoint($break-large) {
      display: none;
    }
  }
}
