footer {
  @include rhythm(2,2,2,0);
  background: $footer-bg-color;
  color: $footer-color;

  @include susy-breakpoint($break-medium) {
    @include margin-leader(3);
  }
  @include susy-breakpoint($break-large) {
    @include margin-leader(4);
    @include padding-trailer(1);
  }

  .contact {
    text-align: center;
  }

  h3 {
    @include adjust-font-size-to(ms(2), 2);
    font-variant: small-caps;
  }

  p, address {
    @include adjust-font-size-to(ms(-2));
    @include margin-trailer(1);
  }

  a {
    color: $footer-color;
    text-decoration: underline;
    &:hover {
      text-decoration: underline;
    }
  }

  ul.social-media {
    @include inline-block-list(8px);
    @include rhythm(1,0,0,0);
    a {
      display: inline-block;
    }

    @each $social-media in facebook, twitter, youtube, soundcloud, instagram {
      .#{$social-media} {
        @include sprite-replace-text-with-dimensions(sprite-map("icons/*.png"), $social-media);
      }
    }
  }
}
