@function em($px, $base: $base-font-size) {
  @return ($px / $base) * 1em;
}

.open-menu, .close-menu {
  @include adjust-font-size-to(ms(4), 1);
  font-weight: bold;
  position: absolute;
  top: 1em;
  text-decoration: none;
  color: black;
  &:active,
  &:focus,
  &:hover {
    color: black;
    background-color: initial;
  }
}

.close-menu {
  left: em($base-font-size, ms(4));
}
