@function em($px, $base: $base-font-size) {
  @return ($px / $base) * 1em;
}

.open-menu, .close-menu {
  font-size: ms(4);
  color: black;
  font-weight: bold;
  @include adjust-leading-to(1, $base-font-size);
  position: absolute;
  top: 0;
  left: em($base-font-size, ms(4));
  &:hover {
    color: black;
  }
}
