header {
  height: rhythm(9);
  position: relative;

  .logo {
    position: absolute;
    right: 0;
    bottom: rhythm(1);
    height: 4em;
  }

  @include susy-breakpoint($break-medium) {
    height: rhythm(12);

    .logo {
      height: 6em;
    }
  }

  @include susy-breakpoint($break-large) {
    height: rhythm(18);

    .logo {
      right: 1em;
      bottom: rhythm(2);
    }
  }
}
