aside {
  @include rhythm-padding(3, 1);
  background: white;
  @include card(4);

  menu {
    list-style: none;
  }
  li {
    &:hover {
      background: rgba(black, .05);
    }
    &.active {
      background: rgba(black, .8);
      a {
        color: white;
        &:hover {
          background: transparent;
        }
      }
    }
    a {
      padding-left: 1em;
      text-decoration: none;
    }
  }
  a {
    display: block;
    @include adjust-leading-to(2);
    color: $base-font-color;
    &:hover {
      background: $sidebar-hover-bg-color;
      color: $sidebar-hover-color;
    }
  }
}

@include breakpoint($break-large) {
  aside {
    @include rhythm-padding;
    @include card;
    background: $content-box-bg-color;
    #{headings()} {
      text-shadow: $content-box-text-shadow;
    }

    li {
      &:hover {
        background: $sidebar-hover-bg-color;
      }
      &.active {
        background: $sidebar-bg-color;
        font-weight: bold;
        a {
          color: $base-font-color;
          &:hover {
            cursor: default;
            /*color: $sidebar-color;*/
          }
        }
      }
    }
    a {
      color: $body-color;
    }
  }
}
